<div id="footer">
  <div class="foot_nav textC">
    <ul class="nav block1000">
      <li *ngFor="let item of navList;let i = index">
        <a href="{{item.url}}" title="{{item.name}}">{{item.name}}</a>|
      </li>
    </ul>
  </div>
  <div class="foot_copyright">
    <div class="block1000">
      <div class="foot_crl floatL">
        <i>
          <img src="assets/image/logo" alt="XXX实业-XXX实业有色金属集团有限公司" title="XXX实业-XXX实业有色金属集团有限公司">
        </i>
      </div>
      <div class="floatL">
        <p>版权所有：Copyright ©&nbsp;&nbsp;<a title="XXX实业有色金属集团有限公司"
            href="http://www.baotaigroup.com.cn/">XXX实业有色金属集团有限公司</a></p>
        <p>全国热线：0701-5382189 传真：0701-5381089 </p>
        <p>邮箱：jxbaotaigroup@126.com<span id="BA">
            <a href="http://beian.miit.gov.cn/" target="_blank">赣ICP备15012215号-1</a></span></p>
        <p>地址：江西省鹰潭市余江区潢溪镇工业区 技术支持：<a href="http://www.bizcc.cn/" target="_blank">亿资网络</a></p>
        <p>
          <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36062202000027"
            target="_blank">赣公网安备36062202000027号</a>
          <a href="http://www.baotaigroup.com.cn/admin_master/" target="_blank">管理登录</a>
          <a href="https://tongji.baidu.com/web/welcome/ico?s=f6aa95eb1b532eede517f6205b7cf41d" target="_blank">百度统计</a>
        </p>
      </div>
      <strong class="floatR marginR30">
        <img src="assets/image/code.jpg" alt="XXX实业-XXX实业有色金属集团有限公司" title="XXX实业-XXX实业有色金属集团有限公司">
        <p>XXX实业二维码</p>
      </strong>
    </div>
  </div>
</div>